header {
  background: #FFDFE7;
}

header a {
  color: #FE3525;
  font-family: BigJohn;
  text-decoration: none;
  padding: 10px;
}

.header-grid {
  display: flex;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #FFDFE7;
  width: 50%;
  position: absolute;
  top: -50%;
  transition: all 0.5s ease-in-out;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-mobile {
  width: 75px;
  height: 75px;
  background: #FFDFE7;
  display: block;
  cursor: pointer;
  position: relative;
}

#bar-one {
  background: black;
  width: 35px;
  height: 5px;
  position: absolute;
  top: 47px;
  right: 0;
  bottom: 0;
  left: 20px;
  z-index: 1;
}

#bar-two {
  background: black;
  width: 35px;
  height: 5px;
  top: 35px;
  left: 20px;
  position: absolute;
  z-index: 1;
  }

#bar-three {
  background: black;
  width: 35px;
  height: 5px;
  top: 23px;
  left: 20px;
  position: absolute;
  z-index: 1;
}

.mobile-menu li {
  color: #FE3525;
  font-family: BigJohn;
  text-decoration: none;
  padding: 10px;
  margin-top: 0;
  list-style: none;
}

.hamburger-checkbox:checked + .mobile-menu {
  top: 0;
  margin-top: 75px;
  margin-left: 75px;
}

@media (min-width: 600px) {
   .mobile-menu {
    display:none;
  }
  .hamburger-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
   .header-grid {
    display:none;
 }
  .hamburger-mobile {
    display:block;
  }
}
